/* ------------------------------------------------------------ */

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

kbd, pre, code {
    font-family: 'IBM Plex Mono', monospace;
}

/* ------------------------------------------------------------ */

/* headers */

h1 { font-size: 180% }
h2 { font-size: 160% }
h3 { font-size: 120% }

@media (max-width: 640px) {
    h1 { font-size: 160% }
    h2 { font-size: 140% }
    h3 { font-size: 120% }
}

img { max-width: 100% }

h1, h2, h3 {
    text-transform: uppercase
}

h2, h3 {
    font-weight: 700;
    padding: 0;
    margin: 0.75em 0 0.4em 0;
}


/* paragraphs */

p, ul, ol, td { line-height: 1.5em }

p { padding: 0 0 1em 0; margin: 0 }

.abstract { margin: 1em 0 0 0; font-size: 90% }


/* links */
a { text-decoration: none }

a:link {
    color: #000;
    border-bottom: solid #00f 2px;
}

a:visited {
    color: #000;
    border-bottom: solid #90c 2px;
}

a:hover { border-bottom: none }


/* lists */
li {
    padding: 0;
    margin: 0 0 0.8em 0;
}

ol li>p:last-child, ul li>p:last-child {
    padding: 0;
    margin: 0
}

ul {
    list-style-type: square;
    padding: 0 0 0 2em;
    margin: 0;
}


/* rulers */
hr {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #ccc;
    margin: 1.5em 0
}

/* epigraphs */
.epigraph {
    font-size: 85%;
    margin: 0 0 1em 0;
    padding: 0 0 0 50%;
}

@media (max-width: 640px) {
    .epigraph { padding: 0 0 0 20% }
}


/* highlighted blocks */
pre, .hl { background: #ee9 }

pre, div.hl { padding: 1rem;
    margin: 1rem -1rem;
}


/* copyleft sign */
.copyleft {
    display: inline-block;
    transform: rotateY(180deg);
    font-weight: bold;
}


/* PDF links */
.pdf-link::after, .git-link::after {
    background: #aaa;
    border-radius: 3px;
    color: #fff;
    font-size: 70%;
    font-style: normal;
    font-weight: 500;
    margin: 0 0 0 2pt;
    padding: 1pt 2pt;
    vertical-align: super;
}

.pdf-link::after {
    content: "PDF";
}

.git-link::after {
    content: "Git";
}


@media print {
    .pdf-link::after {
	color: #000;
	border: solid #000 1px
    }
}


/* some tables, e.g. http://cadadr.org/dict/ */

.dict, .crono {
    border-collapse: collapse;
    table-layout: fixed;
}

.dict .rowa, .crono .rowa { background: #eee }
.dict .rowb, .crono .rowb { background: #ddd }

.dict td {
    padding: 0.5em;
    vertical-align: top;
    width: 33%;
}

.crono { width: 100%; margin-bottom: 2em }
.crono td {
    border-bottom: solid #fff 2px;
    border-top: solid #fff 2px;
    padding: 1em;
    vertical-align: top;
}

/* ------------------------------------------------------------ */

/* embedded video */

.video-container {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}

.video-container iframe, .video-container object, .video-container embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

video {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 100%!important;
}

/* ------------------------------------------------------------ */

body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    color: #000;
    margin: 0;
    padding: 0;
}

@media (min-width: 640px) {
    body { padding: 1rem 0 0 0 }
}

/* ------------------------------------------------------------ */

/* basic layout */

header, footer, main {
    max-width: 800px;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 1rem;
    padding-right: 1rem;
}

main {
    padding-bottom: 2rem;
    padding-top: 2rem;
    background: #fff
}

.main-nopad { padding-top: 0 }

@media (min-width: 640px) {
    .main-nopad { padding-top: 2rem }
}

header {
    background-color: rgba(0,0,0,0.1);
    color: #fff;
}

/* ------------------------------------------------------------ */

/* footer */

footer {
    clear: both;
    font-size: 80%;
    opacity: 0.5;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer p {
    margin: 0;
    padding: 0;
}

footer a:link, footer a:visited {
    border-bottom: solid #000 1px;
    color: #000;
}

/* ------------------------------------------------------------ */

/* main navigation */

#cadadr, nav>ul {
    font-size: 80%
}

#cadadr {
    display: inline-block;
    padding: 0.25rem 0;
    marging: 0;
    float: left;
}

nav {
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0.5;
}

nav>ul {
    display: inline-block;
    float: right;
    list-style-type: none;
    padding: 0.25rem 0;
    margin: 0;
    color: #000;
}

#cadadr a:link, #cadadr a:visited, nav>ul a:link, nav>ul a:visited {
    color: #000;
    border-bottom: solid #999 2px
}

#cadadr a:hover, nav>ul a:hover { border-bottom: none }

nav>ul li {
    padding: 0 0.5em 0 0;
    margin: 0;
    display: inline-block;
}
nav>ul li:last-child {
    padding: 0
}

@media (max-width: 640px) {
    h1 { font-size: 160% }
    .only { padding-top: 2rem !important }
}

/* ------------------------------------------------------------ */

/* header */

header {
    font-weight: 800;
    clear: both
}

header>h1 {
    padding: 0;
    margin: 0;
    clear: both;
    padding: 4rem 0 1rem 0;
}

/* ------------------------------------------------------------ */

/* curvy */

@media (min-width: 640px) {
    header { border-radius: 5px 5px 0 0 }
    main { border-radius: 0 0 5px 5px }
}

/* ------------------------------------------------------------ */

/* float */

main {
    overflow: hidden;
}

@media (min-width: 640px) {
    #main-side {
        float: left;
        width: 73%;
    }

    #internal-nav {
	width: 25%;
	float: right;
	padding: 0;
    }
}

/* ------------------------------------------------------------ */

/* navigation sidebar */

#internal-nav {
    display: block;
}

#internal-nav h2 {
    opacity: 0.5
}

.sephdr {
    padding: 1rem 0.5rem 0 0.5rem !important;
    border-top: solid #fff 3px;
}

@media (max-width: 640px) {
    .sephdr {
        padding: 1rem !important;
        margin: 0 -1rem !important;
        border-top: solid #fff 3px;
    }
}

#internal-nav ul li .date, #internal-nav .current { opacity: 0.3 }

#internal-nav h2 {
    font-size: 110%;
    margin: 1rem 0 1rem 0;
    padding: 0;
}

#internal-nav ul li .date {
    dispay: block;
    font-size: 70%;
}

#internal-nav {
        background: #b9d3dc;
}
#internal-nav h2 { padding: 0 0.5rem }

@media (max-width: 640px) {
    #internal-nav {
        padding: 1rem;
        margin: 0 -1rem 1rem -1rem;
    }
    #internal-nav h2 { padding: 0 }
    header { margin: 0 }
}

#internal-nav ul {
	font-size: 85%;
	list-style: none;
	padding: 0;
	margin: 0 0 1rem 0;
	line-height: 1.2em
}

#internal-nav li a {
    border-bottom: none;
}

#internal-nav li>a, #internal-nav .current {
    display: block;
}

#internal-nav li {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 0.5rem 0;
}

#internal-nav p {
    font-size: 80%;
}

@media (min-width: 640px) {
    #internal-nav {
        padding: 0.5rem 0;
        margin: -0.5rem 0;
    }
    #internal-nav ul li .date {
	padding: 0.5rem;
    }

    #internal-nav li a {
	display: block;
	border-bottom: none;
    }

    #internal-nav li a:hover {
	background: #89b9ca;
	/* border-radius: 3px; */
    }

    #internal-nav li>a, #internal-nav .current {
	padding: 0.5rem
    }

    #internal-nav p {
	padding: 0.5rem;
	margin: 0;
    }
}

/* ------------------------------------------------------------ */

@media (max-width: 640px) {
    h1 { font-size: 150% }
}

/* ------------------------------------------------------------ */

@media print {
    header>nav { display: none }
    h1 { padding-top: 0; margin-top: 0 }
    h1, footer { color: #000 }
    #main-side { width: 100%; margin: 0; padding: 0 }
    #main-side { padding: 0 0 3em 0 }
    #internal-nav { display: none }

    pre, div.hl {
        margin: 0 0 1rem 0;
        padding: 1rem;
        background: none;
        border: solid #000 1px;
    }

    footer a:link, footer a:visited {
	border-bottom: solid #000 1px;
	color: #000;
    }
}

/* ------------------------------------------------------------ */

img.border {
    boder: solid #999 1px;
}

/* ------------------------------------------------------------ */

/* abstracts at /papers/ */

ol blockquote {
    font-size: 85%;
    padding: 0;
    margin: 0;
}

ol blockquote p:last-child {
    padding: 0;
}

/* ------------------------------------------------------------ */
