<div id="internal-nav">
  $if(tna)$ $partial("templates/teaching-tna.html")$ $endif$

  <h2$if(tna)$ class="sephdr"$endif$>Mis cursos en CIMAT</h2>
  <ul>
    <li>
      <span class="date">Otoño 2020</span>
      <a href="/teaching/cimat-tna/">Teoría de números algebraicos</a>
    </li>
    <li>
      <span class="date">Otoño 2019</span>
      <a href="/teaching/cimat-zeta/">Funciones zeta aritméticas</a>
    </li>
  </ul>

  <h2 class="sephdr"><a href="/teaching/san-salvador/">Mis cursos en San&#xa0;Salvador</a></h2>

  <ul>
    <li>
      <span class="date">Agosto 2019</span>
      <a href="/teaching/san-salvador/2019-esquemas/">Esquemas</a>
    </li>
    <li>
      <span class="date">Primavera de 2019</span>
      <a href="/teaching/san-salvador/2019-groebner/">Bases de Gröbner</a>
    </li>
    <li>
      <span class="date">Primavera de 2019</span>
      <a href="/teaching/san-salvador/2019-algebra/">Álgebra I</a>
    </li>
    <li>
      <span class="date">Otoño 2018</span>
      <a href="/teaching/san-salvador/2018-reciprocidad/">Reciprocidad</a>
    </li>
    <li>
      <span class="date">2018</span>
      <a href="/teaching/san-salvador/2018-08-algebra-conmutativa/">Álgebra conmutativa</a>
    </li>
    <li>
      <span class="date">Junio de 2018</span>
      <a href="/teaching/san-salvador/2018-06-categorias/">Categorías</a>
    </li>
    <li>
      <span class="date">Abril de 2018</span>
      <a href="/teaching/san-salvador/2018-04-numeros-p-adicos/">Números p-ádicos</a>
    </li>
    <li>
      <span class="date">2018</span>
      <a href="/teaching/san-salvador/2018-algebra/">Álgebra I y II</a>
    </li>
    <li>
      <span class="date">Febrero de 2017</span>
      <a href="/teaching/san-salvador/2017-02-bernoulli/">Números de Bernoulli</a>
    </li>
    <li>
      <span class="date">Agosto de 2016</span>
      <a href="/teaching/san-salvador/2016-08-homo/">Álgebra homológica</a>
    </li>
  </ul>
</div>
